/* @media(max-width:768px){
    nav{width: 375px;
height: 85px;
display: flex;
justify-content: space-between;

opacity: 1;
    }
    .navicon{
        width: 105.4285888671875px;
height: 41.0757942199707px;
angle: 0 deg;
opacity: 1;
top: 39px;
left: 16px;
    }
    .navlist{
        display: none;
    }
    .navbuttonlist{
        display: none;
    }
        
    .hamburger{width: 32px;
height: 32px;
opacity: 1;
top: 38px;
left: 325px;


    }
    .herosec{
        width: 375px;
height: 657px;
angle: 0 deg;
}
.herotext{
    width: 310px;
height: 135px;
angle: 0 deg;
opacity: 1;

}*/

/* -----------------------
   Mobile View Adjustments
   ----------------------- */
/* -----------------------
   Mobile View Adjustments
   ----------------------- */

    
  
  
    
    